<div class="main-action-button" [ngClass]="{ 'expand-more-button-active': expandMore }">
  <button
    mat-button
    class="main-button"
    (click)="clickButton($event)"
    [ngClass]="defineBackground()"
    [disabled]="formInvalid?.invalid || disabled"
  >
    <mat-icon *ngIf="haveIcon">
      {{ nameIcon }}
    </mat-icon>
    <ng-content select=".custom-icon"> </ng-content>
    <span class="textButton">
      {{ textButton  }}
    </span>
    <mat-icon class="externalLink" *ngIf="externalLink"> keyboard_arrow_right </mat-icon>
  </button>
  <div class="container-expand-more-button">
    <div class="menu-expand-more" *ngIf="menuOpened">
      <ng-content select=".ul-menu-expand-more"> </ng-content>
    </div>
    <button
      class="expand-more-button"
      mat-button
      *ngIf="expandMore"
      [ngClass]="defineBackground()"
      [disabled]="formInvalid?.invalid || disabled"
      (click)="openMenuExpandMore()"
    >
      <mat-icon> expand_more </mat-icon>
    </button>
  </div>
</div>

