// Font Family
$font-family: 'Montserrat', sans-serif;

// Font Weight
$font-light: 300;
$font-medium: 400;
$font-bold: 700;

// Colors
$color-first: #EAEAEA;
$color-second: #4B02FF;
$color-third: #6800FF;
$color-fourth: rgb(174,0,255);
$color-modal-background: #ffffff;
