// Font Family
$font-family: 'Roboto', Arial;

// Font Weight
$font-light: 300;
$font-medium: 400;
$font-bold: 700;

// Colors
$brand-primary: #1a63ab;
$brand-secondary: #ffffff;
$brand-text: #000000;
$brand-divisor-line: #c9c9c9;
$brand-labels-placeholders: #aeaeae;
$brand-hover-general: #daefff;
$brand-hover-infos: rgba(0, 0, 0, 0.05);
$brand-input-featured: #2583c8;
$brand-paginator: #e0cc67;
$brand-featured: #e0cc67;
$brand-back-featured: #f9f5e2;
$brand-back-general: #e5e5e5;
$brand-back-general-active: #cecece;
$brand-back-menu-primary: #ffffff;
$brand-back-menu-secondary: #f3f1f1;
$brand-back-modal: #f3f1f1;
$brand-back-extended-list: #f3f1f1;
$brand-back-footer: #f0f8ff;
$brand-back-default: #ffffff;
$brand-layer-block: rgba(0, 0, 0, 0.4);
$brand-cancel: #aeaeae;
$brand-delete: #b30000;
$brand-label-notification: #ff0000;
$brand-priority-low: #0a86a2;
$brand-priority-medium: #ff9900;
$brand-priority-high: #ff0000;
$brand-success: #04b300;
$brand-notification-system: #8f00ff;
$brand-notification-inbox: #00d1ff;
$brand-notification-account: #adff00;
$brand-form-field-invalid: #f44336;
$brand-background-attention: #fde3e3;
