<div class="container-primary">
  <div class="logo-company">
    <h1><img src="../../../assets/img/logo-desbrav.png" alt="teste"></h1>
  </div>
  <div class="container-content-data">
    <div class="container-fluid container-login">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title-login">{{ 'home-login.title-login' | translate }}</h1>
        </div>
      </div>
      <form class="form-login" [formGroup]="formGroup">
        <div class="row">
          <div class="input-user-name">
            <mat-form-field class="input" appearance="fill">
              <mat-label>{{ 'home-login.name-user' | translate }}</mat-label>
              <input type="text" matInput formControlName="nameUser" placeholder="Digite seu usuário">

              <mat-error>
                <mat-icon>warning</mat-icon>
                {{ 'default-messages.field-required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="input-user-password">
            <mat-form-field class="input" appearance="fill">
              <mat-label>{{ 'home-login.password' | translate }}</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Digite sua senha">

              <mat-error>
                <mat-icon>warning</mat-icon>
                {{ 'default-messages.field-required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="alter-language col-md-7">
            <mat-form-field class="select-alter-lang" appearance="fill">
              <mat-label>{{ 'languages.lang' | translate}}</mat-label>
              <mat-select>
                <mat-option [value]="'pt-br'">
                  {{ 'languages.pt-br' | translate }}
                </mat-option>
                <mat-option [value]="'en'">
                  {{ 'languages.en' | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-5 p-2 submit-button">
            <button mat-raised-button (click)="userAuthentication()" >{{ 'default-buttons.login' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
