<div class="container-page">
  <div class="modal-login">
    <h1 class="title-modal-login">Desbrav Você</h1>
    <form class="form-login">
      <div class="row col-md-10 mt-3">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="Digite seu usuário">
        </mat-form-field>
      </div>
      <div class="row col-md-10 mt-1">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Digite sua senha">
        </mat-form-field>
      </div>
      <div class="row col-md-10">
        <button mat-raised-button>Entrar</button>
      </div>
    </form>
  </div>
</div>
