/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap CSS file. */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@font-face {
  font-family: "Fonarto";
  src: local("Fonarto"), url(./assets/fonts/Fonarto.otf) format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Fonarto, "Helvetica Neue", sans-serif;}

